body {
    background: #3a3e4a;
    overflow: hidden;
}
input[readonly] {
    color:#aaa;
}
label.error {
    color:red;
    margin-top:5px;
    display: block;
}
.content {
    text-align: left;
    margin:10px;
}
button[disabled] {
    background-color: #ccc;
}
#section_container {
    max-width: 640px;
    /*text-align: center;*/
    margin: auto;
}
img {
    max-width: 640px;
    /*text-align: center;*/
    margin: auto;
}
article {
    overflow:hidden;
}
.agile-loading-icon {
    position: relative;
    left: 45%;
}
#loading-icon {
    display:none;
}
#aside_container aside{
    background: -webkit-linear-gradient(-45deg, #1b63ab 0%,#0e4882 75%);
}

.form-title {
    margin:5px 0 5px 0;
    font-size:18px;
    font-weight:bold;
}
/*半透明背景*/
#section_container_mask{
    background-color:#000;
    opacity: .5;
}

/*侧滑列表-白色列表*/
#aside_container aside.aside-white {
    background: -webkit-linear-gradient(-45deg, #fff 0%,#fff 75%);
    /*background-color: rgba(255, 255, 255, 0.8);*/
    padding:0 0 10px 0;
    color:#333;
}
#custom_width_aside .menu li:active{
    background-color:rgba(255,255,255,0.2);
}
#aside_container aside.aside-white .listitem{
    /*background: transparent;*/
}
#aside_container aside.aside-white .listitem li{
    border-bottom:0px;
    padding-left:20px;
}
